################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Core/CoreLibrary/PropertySheet.props
/Include
/Lib
/Output
/Projects/.vs/AudioVisualizer/v15
/Projects/AudioVisualizer/fmodoutput.wav
/Resource/Sound/music89.mp3
/Resource/Sound/music9.mp3
/Resource/Sound/music88.mp3
/Resource/Sound/music87.mp3
/Resource/Sound/music86.mp3
/Resource/Sound/music85.mp3
/Resource/Sound/music84.mp3
/Resource/Sound/music83.mp3
/Resource/Sound/music82.mp3
/Resource/Sound/music81.mp3
/Resource/Sound/music80.mp3
/Resource/Sound/music8.mp3
/Resource/Sound/music79.mp3
/Resource/Sound/music78.mp3
/Resource/Sound/music77.mp3
/Resource/Sound/music76.mp3
/Resource/Sound/music75.mp3
/Resource/Sound/music74.mp3
/Resource/Sound/music73.mp3
/Resource/Sound/music72.mp3
/Resource/Sound/music71.mp3
/Resource/Sound/music70.mp3
/Resource/Sound/music7.mp3
/Resource/Sound/music69.mp3
/Resource/Sound/music68.mp3
/Resource/Sound/music67.mp3
/Resource/Sound/music66.mp3
/Resource/Sound/music65.mp3
/Resource/Sound/music64.mp3
/Resource/Sound/music63.mp3
/Resource/Sound/music62.mp3
/Resource/Sound/music61.mp3
/Resource/Sound/music60.mp3
/Resource/Sound/music6.mp3
/Resource/Sound/music59.mp3
/Resource/Sound/music58.mp3
/Resource/Sound/music57.mp3
/Resource/Sound/music56.mp3
/Resource/Sound/music55.mp3
/Resource/Sound/music54.mp3
/Resource/Sound/music53.mp3
/Resource/Sound/music52.mp3
/Resource/Sound/music51.mp3
/Resource/Sound/music50.mp3
/Resource/Sound/music5.mp3
/Resource/Sound/music49.mp3
/Resource/Sound/music48.mp3
/Resource/Sound/music47.mp3
/Resource/Sound/music46.mp3
/Resource/Sound/music45.mp3
/Resource/Sound/music44.mp3
/Resource/Sound/music43.mp3
/Resource/Sound/music42.mp3
/Resource/Sound/music41.mp3
/Resource/Sound/music40.mp3
/Resource/Sound/music4.mp3
/Resource/Sound/music39.mp3
/Resource/Sound/music38.mp3
/Resource/Sound/music37.mp3
/Resource/Sound/music36.mp3
/Resource/Sound/music35.mp3
/Resource/Sound/music34.mp3
/Resource/Sound/music33.mp3
/Resource/Sound/music32.mp3
/Resource/Sound/music31.mp3
/Resource/Sound/music30.mp3
/Resource/Sound/music3.mp3
/Resource/Sound/music29.mp3
/Resource/Sound/music28.mp3
/Resource/Sound/music27.mp3
/Resource/Sound/music26.mp3
/Resource/Sound/music25.mp3
/Resource/Sound/music24.mp3
/Resource/Sound/music23.mp3
/Resource/Sound/music22.mp3
/Resource/Sound/music21.mp3
/Resource/Sound/music20.mp3
/Resource/Sound/music2.mp3
/Resource/Sound/music19.mp3
/Resource/Sound/music18.mp3
/Resource/Sound/music17.mp3
/Resource/Sound/music16.mp3
/Resource/Sound/music15.mp3
/Resource/Sound/music14.mp3
/Resource/Sound/music13.mp3
/Resource/Sound/music12.mp3
/Resource/Sound/music11.mp3
/Resource/Sound/music10.mp3
/Resource/Sound/music1.mp3
/Resource/sphere_half.png
/Resource/sphere.png
/Resource/center.png
/Resource/bar.png
/Resource/bac3k.jpg
/Resource/bac1k.jpg
/Resource/ba44ck.jpg
/Resource/ba2ck.jpg
/Resource/b1ack.jpg
/Resource/b1ack (2).jpg
/Resource/b123ack.jpg
/Resource/1back.jpg
/Resource/111back.jpg
